.tmp-canvas {
    position: fixed;
    top: 0;
    left: 0;
    background-color: transparent;
    z-index: 100;
}

.drawing-canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    /* background-color: #eee; */
}

#canvas-container {
    height: 500px;
    width: 500px;
}